@font-face {
  font-family: Metrickal;
  src: url(Metrickal-Regular.otf);
}
body {
  font-family: Metrickal, monospace;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  color: #aaa;
  background-color: #000;
}

.bold {
  font-weight: bold;
}

.title {
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}

.ascii-art {
  color: rgb(251, 255, 0);
}

#canvas {
  text-align: center;
}

#notificationsContainer {
  height: 300px;
}

.bordered {
  position: relative;
	text-align: center;
	border: 1px solid rgb(255, 255, 255);
	width: 100px;
	margin-bottom: 5px;
	padding: 5px 10px;
	cursor: pointer;
}
