/*  */
body {
  background-color: #F8F8F8;
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  color: #333;
}

.bold {
  font-weight: bold;
}

.title {
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}

#canvas {
  text-align: center;
}

#notificationsContainer {
  height: 300px;
}

.bordered {
  position: relative;
	text-align: center;
	border: 1px solid black;
	width: 100px;
	margin-bottom: 5px;
	padding: 5px 10px;
	cursor: pointer;
}
